@import "tailwindcss";

@keyframes pop {
	0% {
		transform: scale(0.2) rotate(-20deg);
		opacity: 0;
	}

	55% {
		transform: scale(1.3) rotate(10deg);
		opacity: 1;
	}

	100% {
		transform: scale(1) rotate(0deg);
	}
}

.animate-pop {
	animation: pop 0.4s ease-out;
}

@keyframes play-btn-enter {
	from {
		opacity: 0;
		transform: translateX(-50%) translateY(120%);
	}

	to {
		opacity: 1;
		transform: translateX(-50%) translateY(0);
	}
}

.animate-play-btn-enter {
	animation: play-btn-enter 0.7s cubic-bezier(0.23, 1.12, 0.75, 0.95) forwards;
}

@theme {
	--color-custom-blue: #17212b;
	--color-custom-deep-blue: #030712;
	--color-custom-lite-blue: #1d2934;
}  